@import "src/assets/styles/global/mixins/mixins";
@import "src/assets/styles/global/valiables/valiables";


.breadcrumb {

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;

  background: #E9E9F0;


  .label {

    color: #7E6B6B;
    text-decoration: none;

    font-size: 12px;


    &:hover {

      text-decoration: underline;
    }


    &:focus,
    &:active {

      opacity: 0.6;
    }
  }


  .guide {

    @include EqualLeftAndRightPaddings(10px);

    color: #7E6B6B;
  }


  .label__noLink {

    color: #222222;

    font-size: 12px;
  }
}
