@import "src/assets/styles/global/mixins/mixins";
@import "src/assets/styles/global/valiables/valiables";

.blogDetailsPage {

  $MAX_CONTENT_WIDTH: 1240px;
  $LEFT_OR_RIGHT_MINIMAL_EQUAL_PADDINGS__WIDE_SCREENS: 34px;

  $wideScreen: $MAX_CONTENT_WIDTH+2*$LEFT_OR_RIGHT_MINIMAL_EQUAL_PADDINGS__WIDE_SCREENS;

  $MEDIUM_SCREENS__MINIMAL_WIDTH: 580px;

  @mixin WideScreen() {
   @media screen and (min-width: $wideScreen) {
     @content
   }
  }

  @mixin MediumScreen() {
   @media screen and (min-width: $MEDIUM_SCREENS__MINIMAL_WIDTH) and (max-width: $wideScreen - 1) {
     @content
   }
  }

  @mixin SmallScreen() {
   @media screen and (max-width: $MEDIUM_SCREENS__MINIMAL_WIDTH - 1) {
     @content
   }
  }

  @mixin WideAndMediumScreen() {
   @media screen and (min-width: $MEDIUM_SCREENS__MINIMAL_WIDTH) {
     @content
   }
  }

  @mixin MediumAndSmallScreen() {
   @media screen and (max-width: $wideScreen - 1) {
     @content
   }
  }


  $LEFT_AND_RIGHT_CONTENT_WIDTH_PERCENTAGE: 5%;

  background: $BASE_COLOR_BLUE_GRAY;


  .mainSection {


    margin-top: 35px;


    @include WideScreen() {

      display: grid;
      grid-template-columns: 1fr 325px;
      column-gap: 32px;

      @include CenteredContentWithComputedSidePaddings($MAX_CONTENT_WIDTH);
    }


    @include MediumAndSmallScreen() {
      @include EqualLeftAndRightPaddings($LEFT_AND_RIGHT_CONTENT_WIDTH_PERCENTAGE);
    }
  }


  .categoriesFlow {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    margin-top: 10px;
  }


  .publishedDate {

    font-size: 12px;
    color: $ACCENT_COLOR_PURPLE;

    margin-top: 15px;
  }


  .blogContent {


    background: #FFFFFF;
    box-shadow: 0 -3px 10px rgba(#123D52, 0.2);
    border-radius: 30px;

    margin-top: 30px;

    @include WideAndMediumScreen() {

      @include EqualTopAndBottomPaddings(30px);
      @include EqualLeftAndRightPaddings(2%);
    }


    @include SmallScreen() {

      @include EqualTopAndBottomPaddings(30px);
      @include EqualLeftAndRightPaddings($LEFT_AND_RIGHT_CONTENT_WIDTH_PERCENTAGE);
      @include EqualLeftAndRightMargin(- $LEFT_AND_RIGHT_CONTENT_WIDTH_PERCENTAGE)
    }

    @mixin headingBorderBottom() {

      border-bottom: 1px solid $BASE_COLOR_BLUE_GRAY;
      padding-bottom: 10px;
    }


    h2 {

      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1.25px;

      @include headingBorderBottom();
    }


    h3 {

      font-size: 21px;
      font-weight: bold;
      letter-spacing: 1.25px;

      @include headingBorderBottom();
    }


    h4 {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1.25px;

      @include headingBorderBottom();
    }


    pre {

      max-width: 900px;

      border-radius: 3px;
      line-height: 24px;
      letter-spacing: 0.3px;


      code {

        border-radius: 5px;
      }
    }


    p {

      font-size: 14px;
      letter-spacing: 1.05px;
      line-height: 22px;
    }
  }

  // - 目次 =============================================================================================================
  .TableOfContents {

    @include MediumAndSmallScreen() {

      display: none;
    }
  }


  // - カテゴリー一覧 =====================================================================================================
  .categoriesBadgeFlow {

    margin-top: 30px;

    @include SmallScreen() {

      @include EqualLeftAndRightMargin(- $LEFT_AND_RIGHT_CONTENT_WIDTH_PERCENTAGE);
    }
  }
}
