@import "src/assets/styles/global/mixins/mixins";
@import "src/assets/styles/global/valiables/valiables";

.categoryBadge {

  @include EqualLeftAndRightPaddings(7px);
  @include EqualTopAndBottomPaddings(10px);

  background: $MAIN_COLOR_SKY_BLUE;
  color: white;

  border: 2px solid $MAIN_COLOR_SKY_BLUE;
  border-radius: 5px;

  font-size: 12px;
}
